<!DOCTYPE html>
<html>
<head>
  <title>Breaking Twitter News ATL</title>

</head>
<body>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<%= auto_discovery_link_tag :atom, "/feed" %>
<%= auto_discovery_link_tag :rss, "/feed.rss" %>
<%= yield %>

</body>
</html>
